body,div,p,ul,li,dl,dd,img,a,h1,h2,h3,h4,h5,h6{padding:0px;margin:0px;list-style:none;text-decoration:none;;font-family:Microsoft YaHei}
body{background:#4E7DC1;font-family:Microsoft YaHei;font-size:12px;min-width:1060px}
.midbox{width:1060px;clear:both;margin:auto;}
.header{height:35px;background:#FAFAFA;border-bottom:1px #ECECEC solid;}
.header .menubox{float:left;position:relative}
.header .menubox .menubutton{float:left}
.header .menubox .menubutton .bta{display:block;padding:1px 8px 0px 8px;height:34px;line-height:34px;color:#737373;font-size:12px;}
.header .menubox .menubutton .bta:hover{text-decoration:none}
.header .menubox .open .bta{padding:0px 7px 0px 7px;border-left:1px #ECECEC solid;border-top:1px #ECECEC solid;border-right:1px #ECECEC solid;background:#FFF;}
.header .menubox .open .bta{height:34px;line-height:34px}
.navigation-menu{position: absolute;top: 32px;left: 0;z-index: 1000;display: none;float: left;min-width: 160px;padding: 10px;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip:padding-box;
	border: 1px solid #E6E6E6;
	border-radius: 0px;
	width:1060px
}

.Tops{padding:10px;border-bottom:1px #EEEEEE solid;overflow:hidden;clear:both;background:#FFFFFF}
.Tops .LOGO{float:left}
.Tops .LOGOinfo{float:left;padding-top:8px;padding-left:10px}
.Tops .LOGOinfo h4{font-family:Microsoft YaHei;font-size:13px;height:27px}
.Tops .LOGOinfo h4 strong{color:#CC0000}
.Lmenu{float:left}
.Lmenu h4{font-size:12px;line-height:24px}
.Lmenu li{height:25px;line-height:25px;float:left;background:url('../images/ticon.jpg') no-repeat;padding-right:20px}
.Lmenu li.video{background-position:0px 0px;padding-left:30px}
.Lmenu li.Special{background-position:0px -30px;padding-left:25px}
.Lmenu li.codes{;background-position:0px -58px;padding-left:30px}
.Lmenu li.books{;background-position:0px -91px;padding-left:25px}
.Lmenu li.marticle{;background-position:0px -123px;padding-left:25px}
.Lmenu li A{font-size:12px}
.Tops .radvbox{float:right}
.Tops .radvbox .l{float:left;padding-right:10px}
.Tops .radvbox .r{float:right}
.madv{padding:8px;border-bottom:1px #EEEEEE solid}
.box2{overflow:hidden;padding:5px 10px 10px 10px;font-family:Microsoft YaHei;background:#FFFFFF;border-bottom:1px #EEEEEE solid}
.box2 .fontweight{font-weight:bold}
.box2 .fontcolor{color:#FF0000}
.box2 .fontcolor A{color:#FF0000}
.box2 .fontcolor A:hover{color:#FF0000}
.box2 .fontcolor A:visited{color:#800080}
.box2 ul{float:left;padding:3px 5px 0px 5px;background:url('../images/a2_Menufg.jpg') no-repeat right 7px}
.box2 ul A{color:#333}
.box2 ul A:visited{color:#800080}
.box2 ul A:hover{color:#CC0000}
.box2 ul.Menu1{width:170px;margin-right:5px}
.box2 ul.Menu2{width:218px}
.box2 ul.Menu3{width:230px;background:none}
.box2 ul.Menu4{width:160px}
.box2 ul.Menu5{width:185px;overflow:hidden}
.box2 ul.Menu6{width:197px}
.box2 ul.Menu1 Li{float:left;padding:5px 3px 5px 3px;width:32px}
.box2 ul.Menu2 Li{float:left;padding:5px 3px 5px 3px}
.box2 ul.Menu2 Li.tw{width:32px}
.box2 ul.Menu2 Li.tr{width:42px}
.box2 ul.Menu2 Li.tf{width:55px}
.box2 ul.Menu5 Li{float:left;padding:5px 3px 5px 0px}
.box2 ul.Menu5 Li.tw{width:32px}
.box2 ul.Menu5 Li.tr{width:42px}
.box2 ul.Menu5 Li.tf{width:55px}
.box2 ul.Menu6 Li{float:left;padding:5px 3px 5px 3px}
.box2 ul.Menu6 Li.tw{width:32px}
.box2 ul.Menu6 Li.tr{width:39px}
.box2 ul.Menu6 Li.tf{width:48px}
.box2 ul.Menu3 Li{float:left;padding:5px 3px 5px 3px}
.box2 ul.Menu3 Li.te{width:42px}
.box3{height:90px;padding:15px 0px 5px 0px;overflow:hidden}
.box4{height:26px;padding:0px 0px 5px 0px;overflow:hidden}
.box4 ul.Lmenu{float:left}
.box4 ul.Lmenu h4{font-size:12px}
.box4 ul.Rshare{float:right}
.box4 ul.Rshare li{float:left;padding-left:8px}
.box4 ul.Rshare li.img{padding-top:3px}



.navigation-menu li{float:left}
.navigation-menu .ser{position: absolute;top: -1px;background: #FFF;widht: 80px;height: 1px;left: 75px;width: 80px;}
.navigation-menu li span{font-size:12px;color:#333;padding:0px 5px 0px 5px;color:#0B92E0;}
.navigation-menu li A{font-size:12px;color:#333;padding:0px 5px 0px 5px;}
.navigation-menu li A:hover{color:#CC0000;text-decoration:underline}
.open>.navigation-menu{display:block;}
.box{width:1060px;margin:auto;clear:both;overflow:hidden;background:#FFFFFF;background:url('../images/listbg.jpg') repeat-y}
.poserch{height:50px;border-bottom:1px #ECECEC solid;background:#FCFCFC;}
.poserch .posbox{float:left;width:745px;height:50px;}
.posbox .LogoBox{float:left;padding:12px 8px 0px 8px;overflow:hidden}
.posbox .LogoBox img{float:left}
.posbox .LogoBox h3{font-family:Microsoft YaHei;font-size:20px;padding-top:2px;float:left;cursor:pointer}
.posbox .LogoBox A{color:#01578B}
.posbox .HotBox{width:550px;height:30px;padding:12px 0px 0px 0px;float:left}
.posbox .HotBox #HotWord{overflow:hidden;height:30px;width:100%;white-space:nowrap}
.posbox .strongbox{padding:18px 0px 0px 26px;float:left;background:url('../images/home.png') no-repeat 10px 20px;font-family:Microsoft YaHei}
.posbox .CatNameLi{padding:16px 8px 0px 0px;float:right;font-family:Microsoft YaHei}
.posbox .CatNameLi A:hover{text-decoration:none}
.posbox .CatNameLi span{font-size:15px;font-family:Microsoft YaHei;color:#FF0000}
.posbox .CatNameLi em{;font-size:12px;color:#666}
.posbox .CatNameLi span A{color:#FF0000}
.posbox .CatNameLi em A{color:#666;font-family:Arial;}
.poserch .search{width:300px;float:right;padding-top:13px;}
.poserch .search .key{float:left;width:232px;border-left:1px #E6E6E6 solid;border-top:1px #E6E6E6 solid;border-bottom:1px #E6E6E6 solid;border-right:0px;height:26px;padding:0px 5px 0px 5px;}
.poserch .search .button{float:left;width:60px;height:26px;border:1px #E6E6E6 solid;background:#FCFCFC;}

.conbox{clear:both;overflow:hidden;padding-bottom:10px}
.conbox .artbox{float:left;width:744px;padding:0px 8px 0px 8px;}
.conbox .artbox h1{overflow: hidden;font: bold 24px/24px "Microsoft YaHei";color: #333;padding:20px 0px 15px 0px;border-bottom:1px #E6E6E6 solid;width:728px}

.artbox .sInfo{height:24px;margin:6px 0px 6px 0px;color:#999;float:left;line-height:24px;}
.artbox .uinfo{float:right}
.bdshare-button-style0-24 .bds_weixin{margin:6px 0px 6px 0}
.artbox .infobox{overflow:hidden;width:728px}
.adv728{width:728px;height:90px;}
.adv728ys{width:728px;height:240px;margin-bottom:20px}
.adv728ns{width:728px;height:120px;margin-bottom:20px}
.article{width:728px;font-size: 14px;line-height: 30px;padding: 30px 10px 10px 10px}
.article img{max-width:728px;}
.tags{width:728px;padding:10px 0px 10px 10px;}

.aboutlbox{;padding:0px 0px 10px 10px;overflow:hidden;width:728px}
.aboutlbox .flbox{float:left}
.aboutlbox .frbox{float:right}
.aboutlbox h3{font-size:14px;font-weight:bold}
.aboutlbox ul{padding:10px 0px 0px 10px}
.aboutlbox ul li{;background:url('../images/dayicon.jpg') left center no-repeat;height:26px;line-height:26px;padding-left:15px}
.aboutlbox ul li A{font-size:14px;color:#004276;text-decoration:underline}
.aboutlbox ul li A:hover{color:#CC0000;text-decoration:none}
.advrbox{float:right;width:300px;padding-top:10px}

.spageboxs{padding:0px 0px 10px 0px;border-top:1px #D3D3D3 solid;width:728px;overflow: hidden;clear: both;}
#spboxs{float:left;padding:10px 0px 0px 0px;color:#999;text-align:left;overflow:hidden}
#spbox{float:left;padding:10px 0px 0px 0px;color:#999;text-align:left;overflow:hidden}
#spbox li{padding:10px 10px 10px 10px;width:706px}
#spbox a {display:inline-block;height:38px;line-height:38px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px}
#spbox a.a1 {width:56px; padding:0}
#spbox a:hover { background:#38A3DB; color:#FFF; text-decoration:none;border:1px #38A3DB solid}
#spbox span { display:inline-block; height:38px; line-height:38px; background:#38A3DB; border:1px solid #38A3DB; color:#fff; text-align:center;padding:0 10px}
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px;  border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }
#backindex{float:right;padding:11px 0px 0px 10px;color:#999}
.callindex{width:728px;float:left;padding:10px 10px 10px 0px}
#backindex h3{display:inline}
#backindex h3 A{height:37px;border:1px #CCC solid;display:inline-block;font-family:Microsoft YaHei;font-size:14px;color:#333}
#backindex h3 A{;background:url('../images/back.png') no-repeat 10px center #FFF;padding:11px 10px 0px 25px}
#backindex h3 A:hover{border:1px #38A3DB solid;background:url('../images/backw.png') no-repeat 10px center #38A3DB;color:#FFF;text-decoration:none}

.prenextbox{padding:10px 0px 10px 10px;border-top:1px #D3D3D3 solid;height:50px;}
.prenextbox li strong{font-family:Microsoft YaHei;font-size:14px}
.prenextbox li{line-height:26px}
.prenextbox li A{font-family:Microsoft YaHei;font-size:14px}
.conbox .arbox{float:right;width:308px;padding:8px 8px 0px 0px;}
.arbox .radvbox{width:300px}
.arbox .hits{width:300px;border-left:1px #E8E8E8 solid;border-right:1px #E8E8E8 solid;border-bottom:1px #E8E8E8 solid;border-top:2px #379BE9 solid}
.divline{height:8px;overflow:hidden;font-size:0px}
.nav-tabs>li{margin-bottom:-2px;width:33.333%}
.nav-tabs>li>a{text-align:center}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border-left:0px;border-right:0px;border-top:0px;border-bottom:1px #379BE9 solid;text-align:center}
.hittab{background:url('../images/hits.png') no-repeat 10px 8px}
.tab-pane li{height:31px;line-height:31px;padding-left:33px}
.tab-pane li A{color:#333;font-size:13px}
.tab-pane li A:hover{color:#CC0000}
.hotlist{width:300px}

/*List*/
.ListBox{clear:both;overflow:hidden;padding:15px 1px 15px 1px}
.ListLbox{float:left;width:130px;border-right:1px #DDD solid}
.ListLbox .Title{height:30px;line-height:30px;padding-left:10px;border-bottom:1px #DDD dotted}
.ListLbox .Title h3{font-family:Microsoft YaHei;font-size:14px;color:#333;display:inline}
.ListLbox .Titles{height:30px;line-height:30px;padding-left:10px;border-bottom:1px #DDD dotted;border-top:1px #DDD dotted}
.ListLbox .Titles h3{font-family:Microsoft YaHei;font-size:14px;color:#333;display:inline}
.ListLbox A.CatLink{display:block;height:30px;line-height:30px;padding-left:15px;font-family:Microsoft YaHei;font-size:12px}
.ListLbox A.CatLink:hover{;background:#2185F5;color:#FFF;text-decoration:none}
.ListLtj{padding:6px 6px 0px 10px}
.ListLtj li{line-height:24px;border-bottom:1px #DDD dotted;padding:5px 0px 5px 0px}
.ListRbox{float:right;width:605px}

.Lst{clear:both;overflow:hidden;border-bottom:1px #DDD dotted;padding:10px}
.Lst .Lstitle{height:45px;width:710px;float:left}
.Lst .Lstitle h3{display:inline}
.Lst .Lstitle span{color:#666}
.Lst .Lstitle A{font-family:Microsoft YaHei;font-size:16px;color:#0053AB}
.Lst .Lstitle A:hover{color:#CC0000}
.Lst .LstImg{height:107px;width:142px;float:left}
.Lst .LstDesc{float:right;width:550px;line-height:22px;color:#666;font-family:Microsoft YaHei;font-size:12px;height:80px}
.Lst .LstTag{float:right;width:550px;line-height:22px;color:#666;padding-top:5px;font-family:Microsoft YaHei;font-size:12px}
.Lst .LstTag A{font-family:Microsoft YaHei;font-size:12px}

.Lsts{clear:both;overflow:hidden;border-bottom:1px #DDD dotted;padding:10px 10px 10px 10px}
.Lsts .Lstitle{height:35px;width:710px;float:left}
.Lsts .Lstitle h3{display:inline}
.Lsts .Lstitle span{color:#666}
.Lsts .Lstitle A{font-family:Microsoft YaHei;font-size:16px;color:#0053AB}
.Lsts .Lstitle A:hover{color:#CC0000}
.Lsts .LstDesc{float:left;width:710px;line-height:22px;color:#666;font-family:Microsoft YaHei;font-size:12px}
.Lsts .LstTag{float:left;width:710px;line-height:22px;color:#666;padding-top:5px;font-family:Microsoft YaHei;font-size:12px}
.Lsts .LstTag A{font-family:Microsoft YaHei;font-size:12px}


/*HOTList*/
.HList{clear:both;overflow:hidden;padding-top:5px;border-top:1px #CCC dotted}/*常用List列表*//*代栏目的雅黑*/
.HList li{height:26px;line-height:26px;background:url('../images/fang.jpg') no-repeat left center;padding-left:10px}
.HList li A{color:#333;font-size:12px}
.HList li A:hover{color:#CC0000;text-decoration:underline}
/*右侧HOT*/
.rtLine{height:8px;background:#FFF;font-size:0px;overflow:hidden}
.hotbox{width:300px;border:1px #E26C63 dotted;background:#FFFFE9;padding:10px;clear:both;overflow:hidden}
.hotPP{width:278px;float:right;padding-bottom:8px}
.hotPP LI.APic{width:118px;height:76px;float:left}
.hotPP LI.APic img{padding:2px;border:1px #CCC solid}
.hotPP LI.titLink{width:278px;float:right;line-height:20px;height:30px;background:url('../images/hot.png') no-repeat left top;padding-left:45px}
.hotPP LI.titLink A{color:#333}
.hotPP LI.titLink A:hover{color:#CC0000}
.hotPP LI.titLink h3{font-family:Microsoft YaHei;font-size:14px;color:#333}
.hotPP LI.Desc{width:150px;float:right;line-height:22px;color:#777;font-size:12px}
.hotPP LI.Desc A{color:#CC0000}

.bonconbox{width:728px;padding:10px 0px 10px 0px;}

.tabTitle{height:32px;padding-top:1px;border-bottom:1px #D8D8D8 solid}
.tabTitleno{float:left;height:25px;padding-top:7px;padding-left:10px}
.tabTitleno h3{font-family:Microsoft YaHei;font-size:15px;color:#004276}
.tabTitleno A{font-family:Microsoft YaHei;font-size:15px;color:#004276}
.tabTitle .checked{float:right;cursor:pointer;height:25px;padding:6px 10px 0px 10px;background:#FFF;border-left:1px #D8D8D8 solid}
.tabTitle .checked A{font-family:Microsoft YaHei;font-size:14px;color:#CC0000}
.tabTitle .checked h3{font-family:Microsoft YaHei;font-size:14px;color:#CC0000}
.tabTitle .check{float:right;cursor:pointer;height:25px;padding:6px 10px 0px 10px;border-left:1px #D8D8D8 solid}
.tabTitle .check A{font-family:Microsoft YaHei;font-size:14px;color:#004276}
.tabTitle .check h3{font-family:Microsoft YaHei;font-size:14px;color:#004276}
.PPListbox{border-bottom:1px #CCC solid;clear:both;overflow:hidden}
.PPList{padding:8px 10px 7px 10px;width:300px;float:right}
.PPList LI.APic{width:90px;height:92px;float:left}
.PPList LI.APic img{padding:2px;border:1px #CCC solid}
.PPList LI.titLink{width:180px;float:right;line-height:20px;height:22px}
.PPList LI.titLink A{color:#333}
.PPList LI.titLink A:hover{color:#CC0000}
.PPList LI.titLink h3{font-family:Microsoft YaHei;font-size:14px;color:#333}
.PPList LI.Desc{width:180px;float:right;line-height:22px;color:#777;font-size:12px}
.PPList LI.Desc A{color:#CC0000}

.CateList{padding:8px 10px 7px 10px;line-height:24px;overflow:hidden}
.CateList A.Top{font-size:12px;background:#F0F0F0;color:#333;padding:2px 5px 2px 5px;margin-right:8px}
.CateList A{font-size:12px;color:#333;padding:2px 5px 2px 5px;margin:0px 3px 3px 0px;float:left}

/*页尾Foot*/
.footer{padding:10px;text-align:center;line-height:26px;}
.Foot{width:100%;padding:20px 0px 20px 0px;line-height:26px;text-align:center;color:#333;border-top:1px #d8d8d8 solid;background:#FFF}
.Foot A{color:#666}
.Foot A:hover{color:#CC0000}
#sharepicbg{background-image:url('../images/share-ico-2014.png')}
.bds_tsina{background-image:url('../images/share-ico-2014.png');background-position: -145px 0!important;}
.bds_qzone{background-image:url('../images/share-ico-2014.png');background-position: -145px -29px!important;}
.bds_sqq{background-image:url('../images/share-ico-2014.png');background-position: -145px -261px!important;}
.bds_weixin{background-image:url('../images/share-ico-2014.png');background-position: -145px -232px!important;}

.comment{border:1px #E6E6E6 solid;padding:8px;margin-top:8px}